<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emanga"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission>

    <application
        android:name="com.emanga.controllers.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        
        <activity
            android:name="com.emanga.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service 
            android:name="com.emanga.services.UpdateMangasService"
            android:icon="@drawable/ic_spider"
            android:exported="false" >
        </service>
        
        <service 
            android:name="com.emanga.services.UpdateLatestChaptersService"
            android:icon="@drawable/ic_spider"
            android:exported="false" >
        </service>
        
        <service 
            android:name="com.emanga.services.UpdateDescriptionService"
            android:icon="@drawable/ic_spider"
            android:exported="false" >
        </service>
        
        <service 
            android:name="com.emanga.services.PagesService"
            android:icon="@drawable/ic_spider"
            android:exported="false" >
        </service>

        <activity
            android:name="com.emanga.activities.ReaderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:screenOrientation="landscape"
            android:label="@string/title_activity_reader"
            android:parentActivityName="com.emanga.activities.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emanga.activities.MainActivity" />
        </activity>
    </application>

</manifest>